.button {
  background: #f79310;
  width: 100%;
  display: inline-block;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  background: #70b2d4;
  font-weight: 600;
  color: #fff;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    transform: translateY(-2px);
    cursor: pointer;
    background: #0087bf;
  }
}
.button:active {
  background: #005994;
}
.button:disabled {
  background: #c4c4c4;
  cursor: not-allowed;
}
